@model IEnumerable<Promo>

@{
    ViewData["Title"] = "ListPromo";
    Layout = "_LayoutAdmin";
}

<h2 style="margin: auto; width: 300px;">Промо коды</h2>

<div>
    <a class="btn btn-primary" asp-action="EditPromo">Создать новый код</a>
</div>
<div style="margin-top: 10px;">
    <a class="btn btn-dark" asp-action="ListAdmin">К админке</a>
</div>
<table class="table" style="margin: auto; width: 400px">
        <thead>
            <tr>
                    <th>
                        Название
                    </th>
                    <th>
                        Скидка
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PromoCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                <a class="btn btn-info" asp-action="EditPromo" asp-route-promoId="@item.PromoId">Изменить</a>
                <a class="btn btn-danger" asp-action="DeletePromo" asp-route-promoId="@item.PromoId">Удалить</a>
            </td>
        </tr>
    }
        </tbody>
</table>
