@model int
@{
    ViewData["Title"] = "UploadFiles";
    Layout = "_Layout";
}

<h2>UploadFiles</h2>
<form asp-action="UploadFiles" enctype="multipart/form-data" method="post">
    <h3>Выберите файл для загрузки</h3>
    <input type="file" name="files" multiple/>
    <input type="submit" value="Upload Selected Files"/>
</form>
