@using System.Globalization
@model CartWithSharesViewModel

<div class="row outer cart">
    <a class="row bg-dark btn btn-sm btn-default inner" asp-controller="Cart" asp-action="Index">
        <img class="" src="/images/img/main-page/shopping-cart.svg" alt="cart" />
        @if (Model.Cart.Lines.Any())
        {
            <div class="navbar-text">
                @{
                    int quantity = Model.Cart.Lines.Sum(x => x.Quantity);
                    string quantityName;
                    if (quantity == 1)
                    {
                        quantityName = "товар";
                    }
                    else
                    {
                        quantityName = "товаров";
                    }
                }
                <div>@quantity @quantityName</div>

                @{
                    decimal totalPrice = 0;
                    decimal originalPrice = 0;
                    bool wasShare = false;
                    foreach (var line in Model.Cart.Lines)
                    {
                        if (line.Product.ShareID != null)
                        {
                            Share share = Model.Shares.First(i => i.ShareId == line.Product.ShareID);
                            if (share.Enabled)
                            {
                                if (share.Fake)
                                {
                                    originalPrice += line.Quantity * line.Product.Price / 100 * (decimal) (share.KoefPrice + 100);
                                    totalPrice += line.Quantity * line.Product.Price;
                                }
                                else
                                {
                                    totalPrice += line.Quantity * line.Product.Price / 100 * (decimal) (100 - share.KoefPrice);
                                    originalPrice += line.Quantity * line.Product.Price;
                                }
                                wasShare = true;
                            }
                            else
                            {
                                totalPrice += line.Quantity * line.Product.Price;
                                originalPrice += line.Quantity * line.Product.Price;
                            }
                        }
                        else
                        {
                            totalPrice += line.Quantity * line.Product.Price;
                            originalPrice += line.Quantity * line.Product.Price;
                        }
                    }
                    if (wasShare)
                    {
                        <div>@totalPrice.ToString(CultureInfo.InvariantCulture) грн.</div>
                    }
                    else
                    {
                        <div>@totalPrice.ToString(CultureInfo.InvariantCulture) грн.</div>
                    }

                }

            </div>
        }
    </a>
</div>



