@model Cart

<div class=""> 
    @if (Model.Lines.Any())
    {

        <small class="navbar-text">
            @Model.Lines.Sum(x => x.Quantity) шмоток
            @Model.ComputeTotalValue().ToString("C")
        </small>
    }
        <a class="btn btn-sm btn-default navbar-btn" asp-controller="Cart" asp-action="Index">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        </a>

</div>