.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;    
  } 
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
    
  }

  .dropdown-menu{    
    background-color: #343a40 !important;
  }

  .dropdown-submenu{    
    background-color: #343a40 !important; 
  }
  .dropdown-item{
    color: white !important;
    background-color: #343a40 !important; 
    text-align: center !important;
  }

  .dropdown-item:hover{
    background-color: red !important; 
  }
