
@{
    ViewData["Title"] = "bayer";
    Layout = "_Layout";
}

<div class="bayer">
    <div class="container-fluid">
        <div class="row bayer__wrapper">
            <div class="col-12">
                <h1 class="bayer__title text-center">Наши партнёры</h1>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-1.jpg" alt="PANTRY room" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center text-center">Одесса</h2>
                        <p class="bayer__partners--about">Есть вещи, которые приносят пользу. А есть такие, которые приносят радость и хорошее настроение. В уютной «кладовой» <b>PANTRY room</b> все вещи приносят одновременно и то, и другое!</p>
                        <p class="bayer__partners--phone">Телефон: (073) 077 70 33</p>
                        <a href="https://www.facebook.com/pantryroomodessa/" class="bayer__link btn-link">Перейти в магазин</a>
                    </div>
                </div>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-2.jpg" alt="G-Store" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center">Ужгород</h2>
                        <p class="bayer__partners--about"><b>G-Store</b> - онлайн шоу-рум унікальних аксесуарів та взуття. Зроблено вручну з натуральних матеріалів (шкіра, дерево). Made in Ukraine.</p>
                        <p class="bayer__partners--phone">Телефон: (050) 720 38 02</p>
                        <a href="https://www.instagram.com/g.store.ua/" class="bayer__link btn-link">Перейти в магазин</a>
                    </div>
                </div>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-3.jpg" alt="SweetLand" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center">Киев</h2>
                        <p class="bayer__partners--about"><b>SweetLand</b> - магазин стильных и качественных изделий из натуральной кожи! </p>
                        <p class="bayer__partners--phone">Телефон: (063) 488 97 26</p>
                        <a href="https://www.facebook.com/SweetLand.Ukraine/" class="bayer__link btn-link">Перейти в магазин</a>
                    </div>
                </div>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-4.jpg" alt="СhickenArt" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center">Киев</h2>
                        <p class="bayer__partners--about">
                            <b>СhickenArt</b> - это жизнерадостный магазин чудесных подарков, дизайнерских штучек, стильных аксессуаров и просто забавных, креативных вещей от модных дизайнерских студий и брендов. Все эти вещи не только становятся незаменимыми
                            практичными ежедневными спутниками, радуют глаз и освежают окружение, но и подойдут в качестве новых идей для оригинального подарка!
                        </p>
                        <p class="bayer__partners--address">Адрес: ТЦ Метроград, квартал Товаров для дома. Ближайший вход в Метроград к магазину возле ул. Б. Васильковская 8,10.</p>
                        <p class="bayer__partners--worktime">Режим работы: с 10:00 до 20:30 ежедневно.</p>
                        <p class="bayer__partners--phone">Телефон: (044) 360-58-61, (067) 928-75-68 </p>
                        <a href="https://chickenart.com.ua/level/" class="bayer__link btn-link">Перейти в магазин</a>
                    </div>
                </div>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-5.jpg" alt="TopAvenue.com.ua" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center">Киев</h2>
                        <p class="bayer__partners--about">
                            Интернет магазин сумок <b>TopAvenue.com.ua</b> знает насколько важны детали в образе и поэтому в нашем ассортименте помимо сумок Вы выберете себе кошельки, ремни, ключницы, шарфы, косметички, обложки на документы и много другой
                            кожгалантереи.
                        </p>
                        <p class="bayer__partners--phone">Телефон: (093) 987-77-72, (096) 987-77-72</p>
                        <a href="https://topavenue.com.ua/level" class="bayer__link btn-link">Перейти в магазин</a>
                    </div>
                </div>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-6.jpg" alt="Beauty State" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center">Киев</h2>
                        <p class="bayer__partners--about"><b>"Beauty State"</b> - аксессуары из натуральной кожи украинских дизайнеров.</p>
                        <p class="bayer__partners--phone">Телефон: (073) 173 70 00 </p>
                        <a href="https://www.facebook.com/beautystate.shop" class="bayer__link btn-link">Перейти в магазин</a>
                    </div>
                </div>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-7.jpg" alt="Made4Friends" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center">Krakow</h2>
                        <p class="bayer__partners--about">
                            Torby i plecaki handmade <b>"Made4Friends"</b> – to sklep skórzanych toreb, plecaków i portfele. Znajdziecie tutaj wyjątkowe prezenty dla swoich przyjaciół, ukochanpch, rodziny, jak i dla samych siebie. Produkcja w naszym sklepie
                            zrobiona jest z miłością i ma wysoką jakość. Nasza cel to zadowolony klient - nie tylko w pierwszy dzień zakupów, ale i po kilku latach. Dlatego mamy rzeczy ze starannie wyselekcjonowanych materiałów, głównie ze skóry.
                            Naszą filozofię obrazuje myśl – "Jeżeli wiesz, że możesz zrobić lepiej, zrób to lepiej." Filozofia ta cechuje też naszych partnerów biznesowych - Level i innych, z którymi łączy nas pragnienie wysokiej jakości produktów.
                        </p>
                        <p class="bayer__partners--address">Адрес:  ul. Bolesława Prusa 12  Krakow, Poland</p>
                        <p class="bayer__partners--phone">tel +48 577 681 134</p>
                        <a href="https://pl.dawanda.com/shop/made4friends" class="bayer__link btn-link">Перейти в магазин</a>
                    </div>
                </div>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-8.jpg" alt="Intera Style" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center">Киев</h2>
                        <p class="bayer__partners--about">Интернет-магазин <b>Intera Style</b> - это неповторимые и стильные аксессуары, созданные, чтобы удивить оригинальностью, чтобы открыть путь к сердцу, чтобы доказать силу любви. Это - нестандартные подарки и просто покупки для необычных людей!</p>
                        <p class="bayer__partners--phone">Телефон: (093) 586 10 62, (095) 460 52 72</p>
                        <a href="http://interastyle.com.ua/level" class="bayer__link btn-link">Перейти в магазин</a>
                    </div>
                </div>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-9.jpg" alt="Bags & Backpacks" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center">Киев</h2>
                        <p class="bayer__partners--about"><b>Bags & Backpacks</b> - это качество, стиль, мода, гарантия и доступная цена. Мы предлагаем своим клиентам ассортимент модных, стильных и качественных сумок из натуральной кожи! Все представленные изделия сделаны только из натуральных материалов. Внешний вид женской сумочки зависит, прежде всего, от качества кожи. Натуральные материалы и бескомпромиссное качество - такова наша философия.</p>

                        <a href="https://www.facebook.com/bag.backpack/" class="bayer__link btn-link">Перейти в магазин</a>
                    </div>
                </div>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-10.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center">Киев</h2>
                        <p class="bayer__partners--about">Магазин "Семь Сумок"</p>
                        <p class="bayer__partners--address">Адрес: ТЦ Интервал Плаза, ул. Б.Васильковская 143/2 (бывшая ул.Красноармейская), бутик №43.</p>
                        <p class="bayer__partners--worktime">Режим работы: с 10:00 до 21:00 ежедневно.</p>
                        <a href="https://7bags.com.ua/category/kozhanyj-portmone/?brand[]=407" class="bayer__link btn-link">Перейти в магазин</a>

                    </div>
                </div>
                <div class="row bayer__partners">
                    <div class="col-md-3 text-center">
                        <img src="~/images/img/bayer/bayer-11.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <h2 class="bayer__partners--city text-center">Киев</h2>
                        <p class="bayer__partners--about"><b>Art store PODVAL</b> – шоу-рум виключно українських брендів. У серці столиці, на вул. Хрещатик 46а, ви знайдете широкий асортимент сумок, рюкзаків, шкіряних аксесуарів, кераміки, косметики, оригінальних солодощів та подарунків на будь-який смак за цінами виробників.</p>
                        <p class="bayer__partners--worktime">Працюємо щодня з 11.00 до 20.00 год.</p>
                        <p class="bayer__partners--phone">Тел. +38 (095) 655 24 73</p>
                        <a href="https://www.instagram.com/art.store.podval/" class="bayer__link btn-link">Перейти в магазин</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

