
@{
    ViewData["Title"] = "DeliveryDepartment";
    Layout = "_Layout";
}

<div class="otdel-dostavki">
    <div class="container-fluid">
        <div class="row otdel-dostavki__block text-center">
            <div class="col-12">
                <p class="otdel-dostavki__header text-title-light ">ОТДЕЛ ДОСТАВКИ</p>
                <div class="otdel-dostavki__content">
                    <p class="otdel-dostavki__text">
                        Каждый заказ в индивидуальном порядке отправляется по четко отработанной схеме шоу-рума. Девочки-консультанты связываются с клиентом для оформления заказа, далее передавая его на доставку.
                    </p>
                    <p class="otdel-dostavki__text">Если у Вас возникли вопросы по доставке, свяжитесь по номеру:  (063) 740 67 02 <br> Также возможно написать письмо на почту  Level.direct@gmail.com</p>
                </div>
                <a href="/dostavka.html" class="btn-link">Как получить свой заказ</a>
            </div>
        </div>
    </div>
</div>

