
@{
    ViewData["Title"] = "OurShowRoom";
    Layout = "_Layout";
}


    <div class="container-fluid">
        <div class="">
            <div class="col-md-12 text-center">
                <h2 class="">НАШ ШОУ-РУМ</h2>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <img src="~/images/img/showroom/showroom-1.JPG" alt="" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <p class="text-center text-title-light">КОНТАКТЫ</p>
                    <div class="">
                        <p>Киев, ул. Ивана Кудри №5, оф. 223, <br>(бывший завод "Патона")</p>
                        <p>вт-сб: 12-20;</p>
                        <p>вс-пн: выходные.</p>
                    </div>
                    <div class="">
                        <p class="">СВЯЗАТЬСЯ:</p>
                        <p class="">(096) 399 08 56</p>
                        <p class="">(099) 219 44 60</p>
                    </div>
                    <img src="~/images/img/showroom/showroom-2.JPG" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row" style="">
                <div class="col-md-6">
                    <p class=" text-center">КАК НАС НАЙТИ</p>
                    <div class="">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.427189590138!2d30.526822315167077!3d50.41451197947049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf3ef9739bb5%3A0xcb6e7e9a8e8e6065!2sLevelBags!5e0!3m2!1sru!2sua!4v1516618221763"
                                style="border: 0; width: 100%; min-height: 300px;" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/images/img/showroom/showroom-3.JPG" alt="" class="img-fluid">
                </div>
            </div>
            <div class="row" style="">
                
                <div class="col-md-12">
                    <div class="videoContainer" style="">
                        <div class="videoWrapper">
                            <iframe width="560" height="349" src="https://www.youtube.com/embed/_kWWwT7QrtM" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                
            </div>
            @*<div class="row" style="">
                <div class="col-md-12">
                    <p>Если у вас возник вопрос или появилось предложение - свяжитесь с нами.</p>
                </div>
                <div class="col-md-12">
                    <form class="showroom-form" action="" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="showroom-name" value="" required>
                                            <label for="showroom-name">Имя *</label>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="phone" name="showroom-phone" value="" required>
                                            <label for="showroom-phone">Телефон *</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" name="showroom-email" value="" required>
                                            <label for="showroom-email">Email *</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <select name="showroom-topic">
                                                <option>Общий</option>
                                                <option>Поддержка</option>
                                                <option>Контакты</option>
                                                <option>Обслуживание</option>
                                            </select>
                                            <label for="showroom-topic">Тема вопроса</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="showroom-message" style="width: 250px; height: 100px;" required></textarea>
                                            <label for="showroom-message">Сообщение *</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" name="button" class="btn-btn">Отправить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>*@
        </div>
    </div>


