
@{
    ViewData["Title"] = "Partnership";
    Layout = "_Layout";
}

<div class="partnerstvo text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <p class="partnerstvo__title">Добрый день!</p>
                <p class="partnerstvo__text">Вы можете набрать нас по телефону: (068) 492 36 32, или отправить заявку и мы Вам перезвоним.</p>
                <form class="partnerstvo-form text-center" action="" method="post">

                    <div class="form-group">
                        <input type="text" name="partnerstvo-magazine" value="" required><label for="partnerstvo-magazine">Название магазина, шоурума, сайта... *</label>

                    </div>
                    <div class="form-group">
                        <input type="text" name="partnerstvo-name" value="" required><label for="partnerstvo-name">Имя *</label>

                    </div>
                    <div class="form-group">
                        <input type="phone" name="partnerstvo-phone" value="" required><label for="partnerstvo-phone">Телефон *</label>

                    </div>
                    <div class="form-group">
                        <input type="email" name="partnerstvo-email" value="" required>
                        <label for="partnerstvo-email">Email *</label>

                    </div>
                    <div class="form-group">
                        <textarea name="partnerstvo-message" rows="8" cols="80" required></textarea>
                        <label for="partnerstvo-message">Сообщение *</label>

                    </div>
                    <button type="submit" name="button" class="btn-btn">Узнать условия сотрудничества</button>
                </form>
            </div>
        </div>
    </div>
</div>
