
@{
    ViewData["Title"] = "Vacancy";
    Layout = "_Layout";
}

<div class="vacancy">
    <div class="container-fluid">
        <div class="row vacancy__wrapper">
            <div class="row">
                <div class="container-fluid">
                    <div class="row vacancy__title">
                        <div class="col-md-4">
                            <img src="~/images/img/vakansii/vakansii-1.jpg" alt="Vakansii" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <p>Мастерская кожаных изделий Level не стоит на месте, а постоянно расширяется и совершенствуется! Поэтому нам очень важно собрать в свою команду ребят, которые готовы развиваться вместе с нами. Опыт работы с кожей не обязателен. Если Вы любите постоянно узнавать что-то новое и хотите улучшать свои навыки, то мастерская Level будет рада видеть именно Вас!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 text-center">
                    <span class="vacancy__existing">Предлагаемые вакансии:</span>
                </div>
                <div class="col-md-6 vacancy__description">
                    <span class="vacancy__description--title">Швея</span>
                    <p><i>Требования:</i>  внимательность, пунктуальность, ответственность, умение быстро обучаться и запоминать информацию, умение работать в команде.</p>
                    <p><i>Обязанности:</i>  умение работать с изделиями на весу, делать качественную строчку уровня мастерской Level, умение правильно распределять работу помощниц швеи.</p>
                    <p><i>Условия работы:</i> пятидневная рабочая неделя (сб, вс - выходной), график с 8:00 до 17:00, обеденный перерыв 1 час.</p>
                    <p>Мы гарантируем своевременную оплату труда (аванс, зарплата), официальное трудоустройство.</p>
                    <p>По всем вопросам обращаться по телефону (пн-пт с 9:00 до 16:00): (068) 707 15 15</p>
                    <p>Резюме отправлять на почту: <br>Level.direct@gmail.com</p>
                </div>
                <div class="col-md-6 vacancy__description">
                    <span class="vacancy__description--title">Вырубщик</span>
                    <p><i>Требования:</i>  внимательность, пунктуальность, ответственность, умение быстро обучаться и запоминать информацию, умение работать в команде.</p>
                    <p><i>Обязанности:</i> работа с прессом ПВГ-8, раскладка штанцформ на кожаном листе, знание свойств кожи.</p>
                    <p><i>Условия работы:</i> пятидневная рабочая неделя (сб, вс - выходной), график с 8:00 до 17:00, обеденный перерыв 1 час.</p>
                    <p>Мы гарантируем своевременную оплату труда (аванс, зарплата), официальное трудоустройство.</p>
                    <p>По всем вопросам обращаться по телефону (пн-пт с 9:00 до 16:00): (068) 707 15 15</p>
                    <p>Резюме отправлять на почту: <br>Level.direct@gmail.com</p>
                </div>
                <div class="col-md-6 vacancy__description">
                    <span class="vacancy__description--title">Шлифовщик-зачистчик</span>
                    <p><i>Требования:</i>  внимательность, пунктуальность, ответственность, умение быстро обучаться и запоминать информацию, умение работать в команде.</p>
                    <p><i>Обязанности:</i> шлифовка краев изделий и деталей, финальный прокрас изделий, подготовка изделия к сдаче на склад.</p>
                    <p><i>Условия работы:</i> пятидневная рабочая неделя (сб, вс - выходной), график с 8:00 до 17:00, обеденный перерыв 1 час.</p>
                    <p>Мы гарантируем своевременную оплату труда (аванс, зарплата), официальное трудоустройство.</p>
                    <p>По всем вопросам обращаться по телефону (пн-пт с 9:00 до 16:00): (068) 707 15 15</p>
                    <p>Резюме отправлять на почту: <br>Level.direct@gmail.com</p>
                </div>
                <div class="col-md-6 vacancy__description">
                    <span class="vacancy__description--title">Помощница швеи</span>
                    <p><i>Требования:</i>  внимательность, пунктуальность, ответственность, умение быстро обучаться и запоминать информацию, умение работать в команде.</p>
                    <p><i>Обязанности:</i> опал ниток, подготовка кожаных деталей к пошиву, прокрас краев изделий.</p>
                    <p><i>Условия работы:</i> пятидневная рабочая неделя (сб, вс - выходной), график с 8:00 до 17:00, обеденный перерыв 1 час.</p>
                    <p>Мы гарантируем своевременную оплату труда (аванс, зарплата), официальное трудоустройство.</p>
                    <p>По всем вопросам обращаться по телефону (пн-пт с 9:00 до 16:00): (068) 707 15 15</p>
                    <p>Резюме отправлять на почту: <br>Level.direct@gmail.com</p>
                </div>
                <div class="col-md-6 vacancy__description">
                    <span class="vacancy__description--title">Порезчик</span>
                    <p><i>Требования:</i>  внимательность, пунктуальность, ответственность, умение быстро обучаться и запоминать информацию, умение работать в команде.</p>
                    <p><i>Обязанности:</i> раскладка лекал на коже, выкройка, знание свойств кожи.</p>
                    <p><i>Условия работы:</i> пятидневная рабочая неделя (сб, вс - выходной), график с 8:00 до 17:00, обеденный перерыв 1 час.</p>
                    <p>Мы гарантируем своевременную оплату труда (аванс, зарплата), официальное трудоустройство.</p>
                    <p>По всем вопросам обращаться по телефону (пн-пт с 9:00 до 16:00): (068) 707 15 15</p>
                    <p>Резюме отправлять на почту: <br>Level.direct@gmail.com</p>
                </div>
                <div class="col-md-12">
                    <p class="vacancy__no-students text-right">Просьба студентов и ищущих временную работу не беспокоить!</p>
                </div>
            </div>
        </div>
    </div>
</div>

