
@{
    ViewData["Title"] = "Delivery";
    Layout = "_Layout";
}

<div class="dostavka">
    <div class="container-fluid">
        <div class="row dostavka__wrapper">
            <div class="col-sm-4">
                <a href="https://www.google.com/maps/place/LevelBags/@50.414512,30.5268223,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4cf3ef9739bb5:0xcb6e7e9a8e8e6065!8m2!3d50.414512!4d30.529011" class="dostavka__title">САМОВЫВОЗ</a>
                <img src="~/images/img/dostavka/dostavka-1.JPG" alt="" class="dostavka__img img-fluid">
                <div class="dostavka__text">
                    <p>Мы всегда рады видеть Вас в нашем уютном шоу-руме, который находится в Киеве по адресу: <ins>м. Лыбидская, ул. Ивана Кудри 5, оф. 223. </ins></p>
                    <p>
                        Обязательно загляните к нам, чтобы с первых минут ощутитить приятную и творческую атмосферу! Девочки консультанты постараются ответить Вам на все вопросы, а также порадовать приятными сюрпризами: всем гостям нашего шоу-рума <ins>
                            кожаный
                            браслетик и фирменная наклейка в подарок.
                        </ins> Также, если Вы хотите сделать сюрприз близкому Вам человеку, но не знаете, как его преподнести, мы Вам поможем – <ins>упаковка в крафтовую бумагу</ins> – просто, со вкусом и совершенно бесплатно!
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="https://www.google.com/maps/place/%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0/@50.4021702,30.3926089,11z/data=!3m1!4b1!4m5!3m4!1s0x40d4cf4ee15a4505:0x764931d2170146fe!8m2!3d50.4501!4d30.5234" class="dostavka__title">КУРЬЕР (по Киеву)</a>
                <img src="~/images/img/dostavka/dostavka-2.JPG" alt="" class="dostavka__img img-fluid">
                <div class="dostavka__text">
                    <p>После подтверждения наличия изделия на складе, курьер доставит Ваш заказ прямо под дверь.</p>
                    <ul>
                        <li>Level предоставляет бесплатную доставку при покупке на сумму от 400 грн.</li>
                        <li>Доставка осуществляется (в случае наличия изделия на складе) в течении 1-2-х дней в зависимости от времени совершения заказа и предоплаты.</li>
                        <li>В случае расчета с курьером наличными необходимо внести предоплату на карту ПриватБанка в размере 100 грн *.</li>
                        <li>На осуществление предоплаты предоставляется 3 рабочих дня. Если оплата не была произведена в эти сроки, заказ будет аннулирован.</li>
                        <li>Курьерская доставка осуществляется в городе Киев и только в будние дни.</li>
                        <li>В дни скидок, если сумма заказа составляет менее 1000 грн или скидка превышает 10%, доставка за счет покупателя.</li>
                    </ul>
                    <p class="text-danger-custom">* в случае несвоевременного отказа от покупки, данная сумма не возвращается, так как она оплачивает услуги курьера.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="https://www.google.com/maps/place/%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0/@48.3030388,26.6970994,6z/data=!3m1!4b1!4m5!3m4!1s0x40d1d9c154700e8f:0x1068488f64010!8m2!3d48.379433!4d31.16558" class="dostavka__title">НОВАЯ ПОЧТА (по Украине)</a>
                <img src="~/images/img/dostavka/dostavka-3.JPG" alt="" class="dostavka__img img-fluid">
                <div class="dostavka__text">
                    <p>Отправка "Новой Почтой" осуществляется в течении 2-4-х дней после подтверждения наличия изделия на складе.</p>
                    <ul>
                        <li>Level предоставляет бесплатную доставку при покупке на сумму от 400 грн.</li>
                        <li>Доставка заказа (в случае наличия изделия на складе) осуществляется в течении 2-4-х рабочих дней в зависимости от вашего местонахождения.</li>
                        <li>В случае оплаты наложенным платежом необходимо внести предоплату на карту ПриватБанка в размере 100 грн **.</li>
                        <li>На осуществление предоплаты предоставляется 3 рабочих дня. Если оплата не была произведена в эти сроки, заказ будет аннулирован.</li>
                        <li>Как только товар поступит в отделение "Новой Почты", вы получите СМС-сообщение.</li>
                        <li>В дни скидок, если сумма заказа составляет менее 1000 грн или скидка превышает 10%, доставка за счет покупателя.</li>
                    </ul>
                    <p class="text-danger-custom">** в случае несвоевременного отказа от покупки, данная сумма не возвращается, так как она оплачивает услуги "Новой Почты".</p>
                </div>
            </div>
        </div>
    </div>
</div>

