
@{
    ViewData["Title"] = "Guarantees";
    Layout = "_Layout";
}

<div class="garantija">
    <div class="container-fluid">
        <div class="row garantija__wrapper">
            <div class="row garantija__block">
                <div class="col-md-3  text-center">
                    <img src="~/images/img/garantija/garantija-1.jpg" alt="" class="img-fluid garantija__img">
                </div>
                <div class="col-md-9 garantija__text">
                    <p>
                        Армированные нити полностью соответствуют требованиям по работе с толстой кожей.
                        Они обладают высокой прочностью и высокими технологическими качествами,
                        что позволяет получать аккуратные и гладкие швы.
                    </p>
                </div>
            </div>


            <div class="row garantija__block">
                <div class="col-md-3 order-md-2  text-center">

                    <img src="~/images/img/garantija/garantija-2.jpg" alt="" class="img-fluid garantija__img">
                </div>
                <div class="col-md-9 order-md-1 garantija__text">
                    <p>
                        Профессиональные руки мастерской бренда Level любят и знают своё ремесло.
                        Мастера с каждым годом повышают свои навыки и стремятся выйти на самый
                        высокий уровень профессионализма в Украине.
                    </p>
                </div>
            </div>

            <div class="row garantija__block">
                <div class="col-md-3  text-center">
                    <img src="~/images/img/garantija/garantija-3.jpg" alt="" class="img-fluid garantija__img">
                </div>
                <div class="col-md-9 garantija__text">
                    <p>Качественная фурнитура, заказываемая у проверенных поставщиков на протяжении многих лет.</p>
                </div>
            </div>

            <div class="row garantija__block">
                <div class="col-md-3 order-md-2  text-center">
                    <img src="~/images/img/garantija/garantija-4.jpg" alt="" class="img-fluid garantija__img">
                </div>
                <div class="col-md-9 order-md-1 garantija__text">
                    <p>
                        Современные виды доставок позволяют быстро и в целостности доставить
                        Вам или Вашим близким заказанное изделие в любую точку Украины.
                        Перед отправкой, мы в который раз, тщательно проверяем изделие и
                        бережно упаковываем его для Вас.
                    </p>
                </div>
            </div>

            <div class="row garantija__block">
                <div class="col-md-3  text-center">
                    <img src="~/images/img/garantija/garantija-5.jpg" alt="" class="img-fluid garantija__img">
                </div>
                <div class="col-md-9 garantija__text">
                    <p>Нас выбирают крупные фирмы для корпоративных подарков своим сотрудникам.</p>
                </div>
            </div>

            <div class="row garantija__block">
                <div class="col-md-3 order-md-2  text-center">
                    <img src="~/images/img/garantija/garantija-6.jpg" alt="" class="img-fluid garantija__img">
                </div>
                <div class="col-md-9 order-md-1 garantija__text">
                    <p>
                        Гарантия 30 лет. В случае поломки фурнитуры мы ее заменим,
                        если необходимо, прошьём строчку или исправим любой дефект
                        (кроме дефекта в коже) по Вашей просьбе.
                    </p>
                </div>
            </div>

            <div class="row garantija__block">
                <div class="col-md-3  text-center">
                    <img src="~/images/img/garantija/garantija-7.jpg" alt="" class="img-fluid garantija__img">
                </div>
                <div class="col-md-9 garantija__text">
                    <p class="garantija__list-header">Не являются браком на изделиях из кожи:</p>
                    <ul>
                        <li>Наличие на коже мелких царапин и потертостей, неоднородность текстуры кожи и изменение формы вследствие естественного износа;</li>
                        <li>Мелкие царапины на фурнитуре, не портящие внешний вид изделия;</li>
                        <li>Утеря элементов фурнитуры;</li>
                        <li>Окраска изделием одежду.</li>
                    </ul>
                </div>
            </div>

            <div class="row garantija__block">
                <div class="col-md-3 order-md-2 text-center">
                    <img src="~/images/img/garantija/garantija-8.jpg" alt="" class="img-fluid garantija__img">
                </div>
                <div class="col-md-9 order-md-1 garantija__text">
                    <p class="garantija__list-header"> Советы по уходу за кожаными изделиями:</p>
                    <ul>
                        <li>В случае, если изделие из кожи запачкалось, постарайтесь удалить загрязнение как можно быстрее, чтобы оно не проникло глубоко в кожу. Также старайтесь использовать минимум воды и чистящих средств;</li>
                        <li>Не оставляйте изделия на солнце, т.к. кожа будет выгорать;</li>
                        <li>В случае намокания изделия, дайте ему высохнуть естественным путем и при комнатной температуре. Не используйте дополнительные нагревательные приборы;</li>
                        <li>Не стоит хранить кожаные изделия в полиэтиленовых пакетах, так как они должны дышать. Отдайте предпочтение пакетам/мешкам из хлопчатобумажной или льняной ткани.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

