
@{
    ViewData["Title"] = "Payment";
    Layout = "_Layout";
}

<div class="oplata container-fluid">
    <div class="container-fluid">
        <div class="row oplata__wrapper">
            <p class="oplata__text">После осуществления заказа в интернет-магазине Level, наш менеджер обязательно свяжется с Вами по телефону для подтверждения заказа.</p>
            <p class="oplata__list-title">СПОСОБЫ ОПЛАТЫ:</p>
            <ul class="oplata__list">
                <li>Оплата на карту ПриватБанка на банковский счет Level (реквизиты Вам отправят после подтверждения заказа).</li>
                <li>Оплата наложенным платежом (Новая Почта).</li>
                <li>Расчет наличными с курьером.</li>
                <li>Оплата покупки в шоу-руме.</li>
                <li class="text-danger-custom">В случае наложенного платежа и расчета с курьером необходимо внести предоплату на карту ПриватБанка в размере 100 грн*, остальную сумму при получении.</li>
            </ul>
            <p class="oplata__specification text-danger-custom">*в случае несвоевременного отказа от покупки, данная сумма не возвращается, так как она оплачивает услуги курьера и Новой Почты.</p>
        </div>
    </div>
</div>

