<div>
    <form asp-controller="Search" asp-action="Index">
        <input placeholder="Поиск" name="searchString" onkeydown=""/>
        <button type="submit" style="display: none">Поиск</button>
    </form>
</div>
