<script>
    function RunSearch(e, elemID) {
        if (e.keyCode === 13) {
            $("#" + elemID).click();
        }
    }
</script>
<i class="fa fa-search" aria-hidden="true"></i>
<div>
    <form asp-controller="Product" asp-action="List" method="get">
        <input placeholder="Поиск" id="SearchField" name="searchString" onkeydown="" onkeypress="RunSearch(event, 'SearchButton')" />
        <button type="submit" id="SearchButton" style="display: none">Поиск</button>
    </form>
</div>
