@model Share

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutAdmin";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Share</h4>
    <hr />
    <div>Дата начала акции</div>
    <div>@Model.DateOfStart</div>
    <div>Дата конца акции</div>
    <div>@Model.DateOfEnd</div>
    <div>Включена/Выключена</div>
    @if (@Model.Enabled)
    {
        <div>Вкл</div>
    }
    else
    {
        <div>Выкл</div>
    }
    <div>Коеф. снижения цены</div>
    @{
        string koefString = Model.KoefPrice + "%";
    }
    <div>@koefString</div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ShareId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
