@model IEnumerable<Share>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h4 style="margin: auto; width: 300px;">Список акций</h4>

<p>
    <a class="btn btn-primary" asp-action="Edit">Создать новую акцию</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Дата начала акции
                </th>
                <th>
                    Дата конца акции
                </th>
                <th>
                    Включено/Выключено
                </th>
                <th>
                    Коеф. снижения цены
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.DateOfStart
            </td>
            <td>
                @item.DateOfEnd
            </td>
            @if (item.Enabled)
            {
                <td>Вкл</td>
            }
            else
            {
                <td>Выкл</td>
            }
            @{
                string koefString = item.KoefPrice + "%";
            }
            <td>
                @koefString
            </td>
            <td>
                <a  class="btn btn-info" asp-action="Edit" asp-route-shareid="@item.ShareId">Изменить</a>
                <a  class="btn btn-danger" asp-action="Delete" asp-route-shareid="@item.ShareId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
