<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/css/*.css" />
    <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/slickslider/slick.css">
    <link rel="stylesheet" asp-href-include="/css/MainMenuStyleSheet.css" />
    <script src="/js/jQuery/jquery.min.js"></script>
    <script src="/js/bootstrap-4/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</head>
<body class="admin-body clearfix">
    <div class="admin-header">
        <a style="width: 100%; background-color: yellow" asp-controller="Home" asp-action="Index">
            <img src="~/images/img/global-content/logo.png" alt="level">
        </a>
    </div>
    <div>
        <a asp-controller="Product" asp-action="List" class="btn btn-dark">К юзерскому списку</a>
        <a asp-controller="Admin" asp-action="ListAdmin" class="btn btn-dark">К админскому списку</a>
        <a asp-controller="Admin" asp-action="Create" class="btn btn-dark">Добавить товар</a>
        <a asp-controller="Admin" asp-action="AddColors" class="btn btn-dark">Добавить/Цвет</a>
        <a asp-controller="Order" asp-action="ListOrder" asp-route-page="1" class="btn btn-dark">Заявки</a>
        <a asp-controller="Shares" asp-action="Index" class="btn btn-dark">Акции</a>
        <a asp-controller="Admin" asp-action="ListPromo" class="btn btn-dark">Промо коды</a>
    </div>
    <div class="admin-menu">
        @await Component.InvokeAsync("Categories")
    </div>
    <div>
        @RenderBody()
    </div>
</body>

</html>
