@model LoginViewModel

@{
    ViewData["Title"] = "Логин";
    Layout = "_Layout";
}

@section scripts{
    <script src="/js/LogIn.js"></script>
}


    <div style="margin: auto; width: 300px;">
        <div class="login-form">
            <h1>Логин</h1>
            <form asp-action="Login" asp-controller="Account" method="post">
                <input  asp-for="Email" placeholder="email">
                <input  asp-for="Password" placeholder="password">
                <span>
                    <input asp-for="RememberMe" type="checkbox">
                    <label for="checkbox">Запомнить?</label>
                </span>
                <input style="margin-right: -15px;" type="submit" value="log in">
            </form>
        </div>
        <div class="bg-info" style="margin-top: 10px; color: white; border-radius: 10px;">
            <table style="width: 100%;">
                <tr>
                    <td style="text-align: right;">Email:</td>
                    <td>
                        "MyEmail@gmail.com"
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        Password:
                    </td>
                    <td>
                        "12345"
                    </td>
                </tr>
            </table>
        </div>
    </div>