@model ProductsListViewModel
@{
    ViewData["Title"] = "List";
    Layout = "_Layout";
}

<a asp-controller="Admin" asp-action="Create" class="btn btn-default">Create</a>

@foreach (var product in Model.ProductAndImages)
{
<form asp-action="ViewSingleProduct" method="post">
    <span>@product.product.Name</span>
    <span>@product.product.Price</span>
    <div>@product.product.Description</div>
    @if (product.Images.Count > 0)
    {
        <img src="/images/@product.Images[0].Name" alt="loh">
    }
    else
    {
        <img src="/images/none.png" alt="None Image">
    }
    <input type="hidden" name="ProductID" value="@product.product.ProductID" />
    <button type="submit" class="btn btn-sm btn-danger">Выбрать</button>

</form>
}



