
@{
    ViewData["Title"] = "AboutTheBrand";
    Layout = "_Layout";
}

<div class="about">
        <div class="container-fluid">
            <div class="row about__wrapper">
                <div class="col-md-4 about__creator">
                    <img src="~/images/img/about/artemiy-pavlov.jpg" alt="ARTEMIY PAVLOV" class="img-fluid">
                    <div class="row">
                        <div class="col-12">
                            <p class="about__about-me">ОБО МНЕ</p>
                        </div>
                        <div class="col-5 about__about-me--border"></div>
                        <div class="col-7 text-right">
                            <a href="https://www.facebook.com/artemiy.pavlov.1?ref=bookmarks" class="about__creator-link">ARTEMIY PAVLOV<br>
Создатель и идейный вдохновитель бренда</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <span class="about__about-us">Про нас</span>
                    <p class="about__title">Очень важно в какой-то момент обрести то дело, которое будет дарить Вам желание жить</p>
                    <p class="about__text"> Level – это украинский бренд кожаных аксессуаров ручной работы. В нашем каталоге Вы найдете изделия, выполненные с оригинальным дизайном, четкими линиями и безупречными деталями. Мы изготавливаем сумки, кошельки и другие аксессуары,
                        которые точно не оставят Вас равнодушными, ведь в нашем ассортименте имеется разнообразная палитра цветов и моделей товара, которые подходят как мужчинам, так и женщинам. Мы работаем с разными видами кожи, и каждая из них имеет
                        свой подход и особенность. Наши мастера работают не покладая рук, следят за техникой выполнения и бережно относятся к каждой мелочи и шву, чтобы Вы получили качественный аксессуар, который будет радовать Вас долгие годы! </p>
                </div>
                <div class="col-md-4 about__design text-center">
                    <img src="~/images/img/about/brand-logo.png" alt="LEVEL" class="img-fluid">
                    <div class="row">
                        <div class="col-4 about__about-me--border"></div>
                        <div class="col-8 text-right">
                            <p class="about__text-logo">Дизайн логотипа возник совершенно спонтанно, но он настолько всем понравился, что каждый, кто хоть раз его встречал, уже не спутает его ни с чем</p>
                        </div>
                    </div>
                    </div>
            </div>

        </div>
    </div>

